<!-- Content -->
<div class="m-10">
    <div class="card">
        <form class="card-body">
            <div class="row g-6">
                <div class="col-md-3">
                    <div class="form-floating form-floating-outline">
                        <input type="text" id="multicol-username" class="form-control" placeholder="john.doe" />
                        <label for="multicol-username">Username</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input type="text"
                                   id="multicol-email"
                                   class="form-control"
                                   placeholder="john.doe"
                                   aria-label="john.doe"
                                   aria-describedby="multicol-email2" />
                            <label for="multicol-email">Email</label>
                        </div>
                        <span class="input-group-text" id="multicol-email2">example.com</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-password-toggle">
                        <div class="input-group input-group-merge">
                            <div class="form-floating form-floating-outline">
                                <input type="password"
                                       id="multicol-password"
                                       class="form-control"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="multicol-password2" />
                                <label for="multicol-password">Password</label>
                            </div>
                            <span class="input-group-text cursor-pointer" id="multicol-password2">
                                <i class="icon-base ri ri-eye-off-line"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-password-toggle">
                        <div class="input-group input-group-merge">
                            <div class="form-floating form-floating-outline">
                                <input type="password"
                                       id="multicol-confirm-password"
                                       class="form-control"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="multicol-confirm-password2" />
                                <label for="multicol-confirm-password">Confirm Password</label>
                            </div>
                            <span class="input-group-text cursor-pointer" id="multicol-confirm-password2">
                                <i class="icon-base ri ri-eye-off-line"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-6">
                <button type="submit" class="btn btn-primary me-4">Submit</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>

        <div class="col-lg-12">
            <div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h5 class="card-header">Units List</h5>
                        
                        <button type="button" id="btnadd" class="btn btn-warning">Create New</button>
                    </li>
                </ul>
            </div>
        </div>


        <div class="table-wrapper position-relative responsive-table table-scroll">
           
            <table class="table table-bordered table-striped mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.Units)
                    {
                        <tr>
                            <td>@c.Name</td>
                            <td>@c.Company?.Name</td>
                            <td>@c.Status</td>
                            <td>
                                <button class="btn btn-warning btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editCompanyModal"
                                        data-id="@c.Id"
                                        data-name="@c.Name"
                                        data-companyid="@c.CompanyId"
                                        data-status="@c.Status">
                                    Edit
                                </button>

                                <form asp-controller="Unit" asp-action="Delete" asp-route-id="@c.Id"
                                method="post"
                                      class="delete-form"
                                style="display:inline-block;">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <!-- Overlay Loader -->
            <div id="tableOverlayLoader" class="table-overlay d-none">
                <div class="text-center">
                    <div class="d-flex justify-content-center gap-2 mb-2">
                        <div class="spinner-grow text-primary"></div>
                        <div class="spinner-grow text-success"></div>
                        <div class="spinner-grow text-warning"></div>
                    </div>
                    <div class="fw-medium">Loading...</div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Content -->
<!--Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-simple modal-edit-user">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-body p-0 modal-overlay-wrapper">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-2">
                    <h4 class="mb-6">Add Units</h4>
                </div>



                <form asp-controller="Unit" asp-action="Create" method="post"
                      class="row g-5" id="modalForm">

                    <input id="userId" hidden />

                    <div class="col-md-12" id="divEmployeeId">
                        <div class="input-group input-group-merge">
                            <div class="form-floating form-floating-outline">
                                <input type="text"
                                       id="Name"
                                       name="Name"
                                       class="form-control"
                                       placeholder="john.doe"
                                       aria-label="john.doe"
                                       aria-describedby="Name2" />
                                <label for="Name">Name</label>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-floating form-floating-outline">
                            <select id="CompanyId" name="CompanyId" class="form-select">
                                <option value="">Select Company</option>
                                @foreach (var company in ViewBag.Companies)
                                {
                                    <option value="@company.Id">@company.Name</option>
                                }
                            </select>
                            <label for="CompanyId">Company</label>
                        </div>
                    </div>
                    <div class="col-md-12" id="divEmployeeId">
                        <div class="input-group input-group-merge">
                            <div class="form-floating form-floating-outline">
                                <select id="Status"
                                        name="Status"
                                        class="form-select"
                                        aria-label="Status">
                                    <option value="" selected>Select Status</option>
                                    <option value="True">Active</option>
                                    <option value="False">Inactive</option>
                                </select>
                                <label for="Status">Status</label>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 text-center">
                        <button id="btnSubmit" class="btn btn-primary me-3">Submit</button>
                        <button type="reset"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            Cancel
                        </button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="editCompanyModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-simple modal-edit-user">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-body p-0 modal-overlay-wrapper">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-2">
                    <h4 class="mb-6">Edit Units</h4>
                </div>



                <form asp-controller="Unit" asp-action="Edit" method="post"
                      class="row g-5" id="modalForm">
                    @Html.AntiForgeryToken()
                    <input id="editId" name="Id" hidden />

                    <div class="col-md-12" id="divEmployeeId">
                        <div class="input-group input-group-merge">
                            <div class="form-floating form-floating-outline">
                                <input type="text"
                                       id="editName"
                                       name="Name"
                                       class="form-control"
                                       placeholder="john.doe"
                                       aria-label="john.doe"
                                       aria-describedby="Name2" />
                                <label for="Name">Name</label>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-floating form-floating-outline">
                            <select id="editCompanyId" name="CompanyId" class="form-select">
                                <option value="">Select Company</option>
                                @foreach (var company in ViewBag.Companies)
                                {
                                    <option value="@company.Id">@company.Name</option>
                                }
                            </select>
                            <label for="CompanyId">Company</label>
                        </div>
                    </div>
                    <div class="col-md-12" id="divEmployeeId">
                        <div class="input-group input-group-merge">
                            <div class="form-floating form-floating-outline">
                                <select id="editStatus"
                                        name="Status"
                                        class="form-select"
                                        aria-label="Status">

                                    <option value="True">Active</option>
                                    <option value="False">Inactive</option>
                                </select>
                                <label for="Status">Status</label>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 text-center">
                        <button id="btnSubmit" class="btn btn-primary me-3">Submit</button>
                        <button type="reset"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            Cancel
                        </button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<!--/ Modal -->

<script src="/MaterializeUI/assets/vendor/libs/jquery/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const editModal = document.getElementById('editCompanyModal');

    editModal.addEventListener('show.bs.modal', function (event) {

        // Button that triggered the modal
        const button = event.relatedTarget;

        // Read data attributes
        const id = button.getAttribute('data-id');
        const name = button.getAttribute('data-name');
        const companyId = button.getAttribute('data-companyid');
        const status = button.getAttribute('data-status');
      
        // Set modal fields
        document.getElementById('editId').value = id;
        document.getElementById('editName').value = name;
        document.getElementById('editCompanyId').value = companyId;
        document.getElementById('editStatus').value = status;
    });
    
      document.getElementById("btnadd").addEventListener("click", function () {

        const modalElement = document.getElementById("modal");
        const modal = new bootstrap.Modal(modalElement);

        modal.show();
    });
     document.querySelectorAll('.delete-form').forEach(form => {
        form.addEventListener('submit', function (e) {
            e.preventDefault(); // stop normal submit

            Swal.fire({
                title: 'Are you sure?',
                text: "This company will be permanently deleted!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // submit only if confirmed
                }
            });
        });
    });

</script>

